.apora-user-paint {
	width: 50px !important;
	height: 50px !important;
}

.apora-wrapper-paint {
	width: 100px;
	height: 75px;
	padding-top: 7px;
	.apora-paint {
		width: 90%;
		height: 90%;
	}
}

.apora-show-img {
	padding: 2%;
	width: 100%;
	height: 100%;
}
