<div class="logopanel">
  <h1>
    <a href="#index-view"></a>
  </h1>
</div>
<div class="sidebar-inner">
  <div class="sidebar-top">
    <div class="userlogged clearfix">
      <i class="icon icons-faces-users-01"></i>
      <div class="user-details">
        <h4>مدیریت پنل</h4>
        <div class=" user-login">
          <div class="btn btn-xs">
            <i class="online"></i><span>آنلاین</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="nav nav-sidebar" id="apora-sidebar">
    <li id="apora-home" ><a href="#index-view"><i class="icon-home"></i><span>خانه</span></a></li>
    <li id="apora-user" ><a href="#paint-table-view"><i class="fa fa-table"></i><span>نقاشی</span></a></li>
  </ul>
</div>
