<div class="header-left">
  <div class="topnav">
    <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Menu</span></span></a>
  </div>
</div>
<!-- header-left -->
<div class="header-right">
  <ul class="header-menu nav navbar-nav">
    <!-- BEGIN USER DROPDOWN -->
    <li class="dropdown" id="user-header">
      <a href="#logout-view" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <img src="../assets/global/images/logo/Icon-76.png" alt="تصویر کاربر">
        <span class="username">خروج</span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#logout-view"><i class="icon-logout"></i><span>خروج</span></a>
        </li>
      </ul>
    </li>
    <!-- END USER DROPDOWN -->
  </ul>
</div>
<!-- header-right -->
