$theme-background-color:#ff1744;
$theme-color:#81c41d;
$theme-red-color:#d64646;
$page-content-background-color: white;
$footer-card-background-color: #08c1a8;
$footer-button-background-color: #5c5b5f;
$app-loading-picture: url(../img/_loading-picture.gif);
$app-navbar-theme-color: white;
$app-navbar-badge-color: #4cd084;
$app-user-login-background: url(../img/_user-login-background.jpg);
$app-gray-login:#4e4e4e;
